body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.container{
    width:1140px;
    margin: 0 auto;
}


.assignment-part-1{
    display: flex;
    margin-top: 20px;
}
.half-width{
    margin-left: 20px;
}
.half-width img{
    width: 50%;
    margin-left: 70px;
    margin-top: 15px;

}
.half-width h1{
    font-size: 50px;
    border-left: solid #e64141 5px;
    padding-left: 5px;
    line-height: 60px;

}
.green{
    color: green;
}
.tuch-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(rgb(236, 6, 6),tomato);
    border-radius: 5px;
    color: white;
}
.sec-2{

}
.sec-2 h2{
    text-align: center;
}
.div-1-sc2{
    display: flex;
    justify-content: space-between;

}
.card{
    width: 30%;
}
.card img{
    width: 50%;
}
